# Ignore node_modules as it will be installed inside the Docker container
node_modules

# Ignore local development environment files
npm-debug.log
yarn-error.log
.env

# Ignore log files
*.log

# Ignore Docker files themselves
Dockerfile
.dockerignore

# Ignore version control directories and files
.git
.gitignore
.gitattributes

# Ignore build output directories
dist

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore test-related files and directories
coverage/
*.test.js
*.spec.js
