.card-header-container {
  width: auto;
  height: 231px;
  top: 0px;
}
.card-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-bottom-container {
  height: auto;
}
.heart-img-swagger {
  width: 24px;
  height: 24px;
  margin-left: 250px;
  margin-top: 15px;
  position: absolute;
  background: pink;
}

.detail-swagger p {
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  white-space: nowrap;
}

.card-bottom-title-rating-container {
  display: flex;
  padding: 20px 10px 10px;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}

.promo-price {
  color: tomato;
  font-weight: 600;
  font-size: 30px;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.btn-detail {
  margin-top: 10px;
}
