// Secondary Colors
$secondary-color: #2ecc71; // Green
$secondary-light: #58d68d; // Light Green
$secondary-dark: #27ae60; // Dark Green

// Accent Colors
$accent-color: #e74c3c; // Red
$accent-light: #ec7063; // Light Red
$accent-dark: #c0392b; // Dark Red

// Neutral Colors

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: #1e1e1e; // Dark Shadow
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal video {
  border-radius: 8px;
  margin-bottom: 20px;
  height: 80%;
  width: 80%;
}

.modal-buttons {
  display: flex;
  gap: 10px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button.scan {
  background-color: darkgreen;
  color: white;
}

.modal-buttons button.cancel {
  background-color: $accent-dark;
  color: white;
}
