/* layout.css */
html,
body {
  height: 100%; /* Đảm bảo body và html có chiều cao đầy đủ */
  margin: 0; /* Loại bỏ margin mặc định của body */
}

.wrapper {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu của wrapper bằng chiều cao của viewport */
}

.content {
  flex: 1; /* Chiếm không gian còn lại, giúp footer luôn nằm ở dưới cùng */
}

/* Nếu cần tùy chỉnh thêm cho footer */

.btn-translate {
  position: absolute;
  left: 20px;

  top: -40px;
}
