.navbar {
  padding: 15px 0 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;

  height: 80px;
  position: fixed;
  z-index: 3;

  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  top: 45px;
  left: 0;
}
.navbar:hover {
  opacity: 1;
}
.user-name {
  margin: auto 5px;
}
.logo {
  width: 140px;
  height: 80px;
}
.navbar .logo:hover {
  opacity: 0.7;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.navbar-right span {
  justify-content: space-around;
  align-items: center;
}

.login-btn {
  background: transparent;
  font-size: 16px;
  color: #49257e;
  border: 1px solid tomato;
  margin-left: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  width: 100px;
  height: 40px;
}

.navbar .login-btn:hover {
  background-color: #fff4f2;
}

.navbar .login-btn:active {
  background-color: tomato;
  color: #fff4f2;
}

.navbar a {
  cursor: pointer;
}

.navbar li:hover {
  color: #49257e;
  text-decoration: underline;
  transition: 0.3s;
  border-radius: 15%;
  opacity: 0.7;
}

.navbar-search-icon {
  position: relative;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  background-color: tomato;
  top: 5px;
  right: -10px;
  border-radius: 50%;
  animation: blink 1.5s infinite;
  color: white;
  transform: translate(50%, -50%); /* Để căn giữa chính xác */
  text-align: center; /* Căn giữa chữ trong dot */
}

.navbar-right img:hover {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
  transition: filter 0.3s ease;
}

.navbar-right img {
  cursor: pointer;
  width: 40px;
  transition: transform 0.3s ease;
  transform: scale(1);

  filter: none;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 42px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 50px;
    height: 50px;
  }
  .navbar {
    height: 50px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 12px;
    padding: 0 30px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-righ img {
    width: 20px;
  }
  .navabar-right .login-btn {
    padding: 7px 20px;
    height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu a {
    padding: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .menu-toggle {
    display: block;
    padding: 0 -px;
  }
}

@media (max-width: 575.98px) {
  .btn-sign-in {
    width: auto;
    height: auto;
    margin-left: 5px;
    justify-content: space-between;
    align-items: center;
  }

  .menu-toggle {
    padding: 0px 20px;
  }
}

.navbar-right input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  color: #49557e;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  transition: border-color 0.3s ease;
  transition: border-radius 0.3s ease;
  transition: border-width 0.3s ease;
  transition: font-size 0.3s ease;
  transition: padding 0.3s ease;
  transition: width 0.3s ease;
  transition: max-width 0.3s ease;
  transition: margin-bottom 0.3s ease;
  transition: max-height 0.3s ease;
}

.navbar-right input:hover {
  transition: 0.3s;
  box-shadow: 0 0 5px tomato;
  transform: translateY(-1px);

  border-radius: 4px;
}

.suggestions-list {
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  overflow-y: auto;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease;
  transition: opacity 0.3s ease;
  transition: visibility 0.3s ease;
  transition: transform 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: padding 0.3s ease;
  transition: margin-top 0.3s ease;
}

.suggestion-item {
  cursor: pointer;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  transition: padding 0.3s ease;
  transition: border-bottom 0.3s ease;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  &:hover {
    background-color: #f1f1f1;

    color: tomato;
    transition: 0.3s;
    transform: translateY(-1px);

    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  }
  &:last-child {
    border-bottom: none;
  }
  &:active {
    transition: 0.3s;
    transform: translateY(-1px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  }
}

.navbar-right .btn-intro {
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 12px;
}

.navbar-right button:hover {
  transition: 0.3s;
  border-radius: 50px;
  border-color: 1px solid #381c66;
  transform: translateY(-1px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-right button:active {
  transition: 0.3s;
  border-radius: 50px;
  transform: translateY(-1px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-color: 1px solid #381c66;
  border-radius: 50px;
  background-color: #381c66;
  color: white;
  padding: 10px 15px;
  border-bottom-color: #381c66;
  border-top-color: #381c66;
  border-left-color: #381c66;
  border-right-color: #381c66;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.user-info {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.logout-btn {
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  font-size: 16px;
  color: #49257e;
  border: 1px solid #381c66;
  margin-left: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  width: 100px;
  height: 40px;
}
