.notification.hide {
  opacity: 0;
}

.notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column; /* Xếp các thông báo thành hàng dọc */
  gap: 10px; /* Khoảng cách giữa các thông báo */
  z-index: 1000; /* Đảm bảo thông báo luôn hiển thị trên các phần tử khác */
  cursor: none;
}
.notification {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1; /* Đảm bảo thông báo hiển thị */
}

.notification.success {
  background-color: green;

  animation: blink 1.5s infinite;
}

.notification.error {
  background-color: red;
  color: #fff;
  animation: blink 1.5s infinite;
}
